<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="app.js" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  </head>
  <body>
    <header>
      <h1>Friend List</h1>
    </header>
    <section id="app">
      <ul>
        <li>
          <h2>Marvin Arias</h2>
          <button v-on:click="show = !show">Mostrar Detalles</button>
          <ul v-if="show">
            <li><strong>Phone:</strong> 01234 5678 8999</li>
            <li><strong>E-mail:</strong> marias@localhost.com</li>
          </ul>
        </li>
        <li>
          <h2>John Avila</h2>
          <button v-on:click="show = !show">Show Details</button>
          <ul v-if="show">
            <li><strong>Phone:</strong> 01234 5678 8999</li>
            <li><strong>E-mail:</strong> javila@localhost.com</li>
          </ul>
        </li>
      </ul>
    </section>

    <div id="demo">
      <button v-on:click="show = !show">Mostrar/Ocultar</button>
      <transition name="fade">
        <p v-if="show">hola</p>
      </transition>
    </div>
  </body>
</html>
